body {
  margin: 0 !important;
  padding: 0 !important;
  overflow-x: hidden !important;

  /* height: -webkit-fill-available !important; */

  --yellow: #4f9e7e;
  --bg-black: #00001e;
  --bg-green: #4f9e7e;
}

.cp {
  cursor: pointer;
}

.minha{
  min-height: 200px !important;
  padding-top: 30px;
  text-decoration: none;
  color: #000;
}

html {
  height: -webkit-fill-available !important;
  scroll-behavior: smooth;
}

.error__message {
  color: red !important;
  font-size: 12px !important;
  font-weight: 500 !important;
}

#scroll-progress {
  position: fixed;
  /* top: 0; */
  width: 0%;
  height: 6px;
  background: var(--bg-green);
  z-index: 10000;
}

#scroll-progresss {
  position: fixed;
  /* top: 0; */
  width: 0%;
  height: 6px;
  background: var(--bg-green);
  z-index: 10000;
}

.hamburger {
  width: 45px !important;
  height: 45px !important;
  padding-top: 20px !important;
}

.custscroll::-webkit-scrollbar {
  display: none;
}

body::-webkit-scrollbar {
  display: none;
}

.body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.table{
  width: 100% !important;
  padding: 10px;
  
}

.display__mobile header {
  background-color: #fff !important;
  width: 100% !important;
  position: fixed !important;
  height: 60px !important;
  top: 0 !important;
  z-index: 950 !important;
  /* opacity: 0 !important; */
}

.dh {
  background-color: #fff !important;
  width: 100% !important;
  position: fixed !important;
  /* height: 60px !important; */
  top: 0 !important;
  z-index: 950 !important;
  /* opacity: 0 !important; */
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.mh {
  background-color: #fff !important;
  width: 100% !important;
  position: fixed !important;
  height: 60px !important;
  top: 0 !important;
  z-index: 950 !important;
  /* opacity: 0 !important; */
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.fh {
  min-height: 100vh !important;
}

/* .fw{
        width: 100% !important;
      } */

.font__yellow {
  color: var(--yellow) !important;
}

.font__green {
  color: var(--bg-green) !important;
}

.font__black {
  color: var(--bg-black) !important;
}

.font__white {
  color: #fff !important;
}

.indexed {
  z-index: 111 !important;
}

.bg__green {
  background-color: var(--bg-green) !important;
}

.bgv {
  background: linear-gradient(
    180.01deg,
    #f9f4ff 0.01%,
    #faf5ff 99.99%,
    #f0e3ff 99.99%
  ) !important;
}

.table__width {
  max-width: 800px !important;
}

.heading {
  line-height: 1 !important;
  font-size: clamp(2.9rem, 8vw, 3.5rem) !important;
  font-weight: 800 !important;
  color: #fff;
  opacity: 0.9 !important;
}

.head {
  line-height: 1 !important;
  font-size: clamp(3rem, 8vw, 3rem) !important;
  font-weight: 800 !important;
  opacity: 0.9 !important;
}

.heading00 {
  line-height: 1 !important;
  font-size: clamp(2.5rem, 8vw, 3rem) !important;
  font-weight: 800 !important;
  color: #fff;
  opacity: 0.9 !important;
}

.heading0 {
  line-height: 1 !important;
  font-size: clamp(2.5rem, 8vw, 3.2rem) !important;
  font-weight: 700 !important;
  opacity: 0.9 !important;
}

.privacy h2 {
  line-height: 1 !important;
  font-size: 28px;
  font-weight: 700 !important;
  margin-top: 10px;
  /* color: #fff; */
  opacity: 0.9 !important;
}

.subs {
  line-height: 1 !important;
  font-size: 28px;
  font-weight: 700 !important;
  margin-top: 10px;
  /* color: #fff; */
  opacity: 0.9 !important;
}

.subs {
  line-height: 1 !important;
  font-size: 28px;
  font-weight: 700 !important;
  margin-top: 10px;
  /* color: #fff; */
  opacity: 0.9 !important;
}

.heading22 {
  line-height: 1 !important;
  font-size: 50px !important;
  font-weight: 800 !important;
  color: #000;
  opacity: 0 !important;
}

.heading__contact {
  line-height: 1 !important;
  font-size: 30px !important;
  font-weight: 800 !important;
  color: #fff;
  opacity: 0.9 !important;
}

.contact__heading {
  line-height: 1 !important;
  font-size: clamp(16px, 8vw, 20px) !important;
  font-weight: 500 !important;
}

.content__paragraph {
  line-height: 1.5 !important;
  font-size: 14px !important;
  font-weight: 300 !important;
  color: #fff;
  /* opacity: 0.9 !important; */
}

.content__paragraph2 {
  line-height: 1.5 !important;
  font-size: 14px !important;
  font-weight: 490 !important;
  /* color: #fff; */
  /* opacity: 0.9 !important; */
}

.heading2 {
  line-height: 1 !important;
  font-size: clamp(2.5rem, 10vw, 4rem) !important;
  font-weight: 800 !important;
  color: #fff;
  opacity: 0.9 !important;
}

.paragraph {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: clamp(1.1rem, 2vw, 1.5rem);
  line-height: 30px;
  padding-top: 10px;
}

.paragraph2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: clamp(1.1rem, 1.1vw, 1.5rem);
  line-height: 22px !important;
  padding-top: 10px;
}

.paragraph3 {
  font-family: "Poppins";
  font-style: extra-bold !important;
  font-weight: 1000;
  font-size: clamp(1.1rem, 1.1vw, 1.5rem);
  line-height: 20px !important;
}

.paragraph5 {
  font-family: "Poppins";
  /* font-style: normal; */
  /* font-weight: 500; */
  font-size: clamp(1rem, 0.7vw, 1.5rem);
  line-height: 20px !important;
  padding-top: 10px;
}

.bold {
  font-weight: 900 !important;
}

.h-5 {
  height: 5% !important;
}

.h-10 {
  height: 10% !important;
}

.h-15 {
  height: 15% !important;
}

.h-20 {
  height: 20% !important;
}

.h-25 {
  height: 25% !important;
}

.h-30 {
  height: 30% !important;
}

.h-35 {
  height: 35% !important;
}

.h-40 {
  height: 40% !important;
}

.nav__slide__active {
  margin-top: 15px !important;
  height: 1px !important;
  width: 25px !important;
  background-color: #fff !important;
  border-top: 3px solid #fff !important;
}

.nav__slide {
  margin-top: 15px !important;
  height: 1px !important;
  width: 25px !important;
  background-color: #fff !important;
  border-top: 3px transparent !important;
}

/* First slide */

/* .first__slide {
        background-image: url(./FabitsAssets/Images/calm-businesswoman-relaxing-with-breath-gymnastics.jpg) !important;
        background-size: cover !important;
        background-position: top center !important;
        background-repeat: no-repeat !important;
      } */

.first__slide2 {
  object-fit: none !important;
  object-position: center center !important;
}

.notz {
  z-index: -1 !important;
}

/* .first__slide .first__content {
        background: linear-gradient(
          180deg,
          rgb(0, 0, 0, 0.1) 0%,
          rgb(0, 0, 0, 0.1) 97.14%
        ) !important;
      } */

.first__slide .first__content2 {
  /* background: linear-gradient(
          180deg,
          rgba(0, 0, 30, 0.2) 0%,
          rgba(0, 0, 30, 0.9) 97.14%
        ) !important; */
  background: linear-gradient(
    180deg,
    rgba(0, 0, 30, 0.9) 0%,
    rgba(0, 0, 30, 0.9) 97.14%
  ) !important;
}

.grad {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 30, 0.2) 0%,
    rgba(0, 0, 30, 0.9) 97.14%
  ) !important;
}
.gradb {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 30, 0.2) 0%,
    rgba(0, 0, 30, 0.2) 97.14%
  ) !important;
}

.gradddd {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 30, 0.2) 0%,
    rgba(0, 0, 30, 0.9) 97.14%
  ) !important;
  z-index: 777;
}

.second__content {
  background-image: url(./FabitsAssets/Images/49.png) !important;
  background-size: cover !important;
  background-position: top center !important;
  background-repeat: no-repeat !important;
}
.second__content2 {
  background-image: url("https://res.cloudinary.com/dgmmpzere/video/upload/v1672403518/FabitsVideo_zgf4vb.mp4") !important;
  background-size: cover !important;
  background-position: top center !important;
  background-repeat: no-repeat !important;
}

.third__content {
  background-image: url(./FabitsAssets/Images/49.png) !important;
  background-size: cover !important;
  background-position: top center !important;
  background-repeat: no-repeat !important;
}

.progress-container {
  width: 100%;
  height: 8px;
  background: #ccc;
}

/* The progress bar (scroll indicator) */
.progress-bar {
  height: 8px;
  background: #04aa6d;
  width: 0%;
}

.button__width {
  max-width: 400px !important;
}

.desktop__container {
  margin: 0 !important;
  position: absolute !important;
  top: 50% !important;
  left: 20% !important;
  -ms-transform: translateY(-50%) !important;
  transform: translateY(-50%) !important;
}

.desktop__container2 {
  margin: 0 !important;
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  -ms-transform: translateY(-50%) !important;
  transform: translateY(-50%) !important;
}

/* .first__container h1 {
        font-size: clamp(3rem, 3.5vw, 3.5rem) !important;
        font-weight: 800 !important;
        color: #fff !important;
        opacity: 0.9 !important;
      } */

.first__container .p2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 25px;
  padding-top: 10px;
}

.about__fabits {
  background-color: #fff !important;
  background: linear-gradient(180deg, #f1dfff 0%, #ffffff 100%);
  border-radius: 30px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600 !important;
  font-size: 16px;
  padding: 5px 20px !important;
  line-height: 20px;
  letter-spacing: -0.02em !important;
  height: 40px;
  color: #000000;
  border: 0px !important;
}

.about__fabits4 {
  color: #fff !important;
  background: linear-gradient(180deg, #2e2e2e 0%, #222222 100%);
  border-radius: 30px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600 !important;
  font-size: 16px;
  padding: 5px 20px !important;
  line-height: 20px;
  letter-spacing: -0.02em !important;
  height: 40px;
  color: #000000;
  border: 0px !important;
}

.about__fabits2 {
  background-color: #fff !important;
  /* background: linear-gradient(
          90deg,
          #b43aeb 0%,
          #4b18e5 27.08%,
          #ad3cea 50.52%,
          #4a18e5 76.29%,
          #4817e5 100%
        ); */
  background-color: #00001e !important;

  border-radius: 30px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500 !important;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: -0.02em !important;
  height: 40px;
  color: #fff;
  border: 0px !important;

  /* margin-right: 100px !important; */
}

.grad__icon {
  width: 75px !important;
  height: 75px !important;
}
.grad__icon__car {
  width: 90px !important;
  height: 65px !important;
}

.grad__width {
  max-width: 1000px !important;
}

.grad__width2 {
  max-width: 1200px !important;
}

.about__fabits3 {
  background-color: #fff !important;
  background: linear-gradient(180deg, #f3e3ff 0%, #fffeff 100%);
  border-radius: 30px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500 !important;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: -0.02em !important;
  height: 40px;
  color: #000;
  border: 0px !important;

  /* margin-right: 100px !important; */
}

li {
  list-style: none !important;
  text-decoration: none !important;
}

ul {
  list-style: none !important;
  text-decoration: none !important;
  padding: 0 !important;
}

a {
  text-decoration: none !important;
}

.bgimage {
  max-width: 250px;
  height: 250px;
}

.carimage {
  max-width: 400px;
  height: 250px;
}

/* Second slide */

.second__slide {
  background-image: url(./FabitsAssets/Images/Map_Goals_Fabits_PNG.png) !important;
  background-size: cover !important;
  background-position: top center !important;
  background-repeat: no-repeat !important;
}

.fhh {
  height: 100vh !important;
  max-height: 100vh !important;
  min-height: 100vh !important;
}

.giftbox {
  max-width: 200px !important;
  max-height: 200px !important;
  object-fit: cover !important;
  object-position: center center !important;
}
.giftboxmain {
  max-width: 300px !important;
  max-height: 300px !important;
  object-fit: cover !important;
  object-position: center center !important;
}

.second__content {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 30, 0.8) 90%,
    rgba(0, 0, 30, 0.8) 97.14%
  ) !important;
  /* background-image: url(./FabitsAssets/Images/calm-businesswoman-relaxing-with-breath-gymnastics.jpg) !important; */
  background-size: cover !important;
  background-position: top center !important;
  background-repeat: no-repeat !important;
}
.second__content22 {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 30, 0.5) 90%,
    rgba(0, 0, 30, 0.5) 97.14%
  ) !important;
  /* background-image: url(./FabitsAssets/Images/calm-businesswoman-relaxing-with-breath-gymnastics.jpg) !important; */
  background-size: cover !important;
  background-position: top center !important;
  background-repeat: no-repeat !important;
}

.second__container {
  margin: 0 !important;
  position: absolute !important;
  top: 50% !important;
  -ms-transform: translateY(-50%) !important;
  transform: translateY(-50%) !important;
}

.second__container .p2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 25px;
  padding-top: 10px;
}

.op {
  display: none;
}

.oc {
  object-fit: cover !important;
}

.white__round {
  height: 150px !important;
  width: 150px !important;

  border-radius: 50% 50% !important;
  background-color: #e9e8f0 !important;
}

.iphone__img {
  max-height: 140px !important;
}

.mockupyo {
  max-width: 350px !important;
  height: 600px !important;
  box-shadow: rgba(255, 255, 255, 0.16) 0px 0px 3px 3px inset !important;
  border-radius: 36px !important;
  padding: 16px 14px !important;
  overflow: hidden !important;
  background-color: #000 !important;
  margin-top: 70px;
  border-bottom: rgba(255, 255, 255,0.16) 3px inset !important;
}

@media screen and (max-width: 767px) {
  .mockupyo {
    width: 300px !important;
    height: 510px !important;
    position: relative !important;
    top: 0px !important;
  }
}

.custs {
  min-width: 250px;
  max-width: 250px;
  height: 400px;
  box-shadow: rgb(250 250 255 / 16%) 0px -5px 6px 0px inset,
    rgb(38 37 37 / 24%) 4px 6px 11px 1px inset;
  border-radius: 16px;
  /* padding: 16px 14px; */
  overflow: hidden;
  background-color: #000;
}

.white__round2 {
  height: 140px !important;
  width: 180px !important;
  max-height: 188px !important;
  max-width: 245px !important;
  min-height: 100px !important;
  min-width: 140px !important;
  border-radius: 50% 50% !important;
  background-color: #fff !important;
}

/* Third slide */

.max__width {
  max-width: 500px !important;
}
.max__width2 {
  max-width: 500px !important;
}

.getstarted {
  bottom: 0 !important;
}

/* .third__container {
        margin: 0 !important;
        position: absolute !important;
        top: 50% !important;
        -ms-transform: translateY(-50%) !important;
        transform: translateY(-50%) !important;
      } */

/* .third__content {
        background: rgba(74, 24, 229, 0.05) !important;
      } */

.fourth__content {
  background: linear-gradient(0deg, #00001e 0%, rgba(0, 0, 30, 0.9) 100%);
}

.full__purple {
  background-color: #00001e !important;
}

.contact__content {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 30, 0.8) 0%,
    rgba(0, 0, 30, 0.8) 100%
  );
  mix-blend-mode: normal;
}

.link__content {
  background-color: #e3e3e3 !important;
}

/* Fourth slide */

.fourth__container {
  margin: 0 !important;
  position: absolute !important;
  top: 50% !important;
  -ms-transform: translateY(-50%) !important;
  transform: translateY(-50%) !important;
}

.grad__box {
  background: linear-gradient(
    270deg,
    rgba(105, 105, 105, 0.033) 23.81%,
    rgba(54, 54, 54, 0.06) 100%
  );
  border-radius: 10px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500 !important;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: -0.02em !important;
  min-height: 120px;
  color: #000;
  /* margin-right: 100px !important; */
}

.grad__box2 {
  background: linear-gradient(
    90deg,
    rgba(105, 105, 105, 0.033) 23.81%,
    rgba(54, 54, 54, 0.06) 100%
  );
  border-radius: 10px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500 !important;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: -0.02em !important;
  min-height: 120px;
  color: #000;
}

model-viewer {
  height: 600px;
  width: 600px;
  position: absolute;
  top: 0;
  left: 0;
  border: none;
}

@media (min-width: 768px) {
  .display__mobile {
    display: none !important;
  }

  .display__desktop {
    display: block !important;
  }
}

@media (max-width: 768px) {
  .display__mobile {
    display: block !important;
  }

  .display__desktop {
    display: none !important;
  }
}

.etf__adv__section {
  background-color: #33334b;
}

.signup__bg {
  background-color: #e5faf5;
}

.etfs p {
  opacity: 0.8;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 25px;
  padding-top: 10px !important;
  padding-bottom: 15px !important;
  text-align: justify;
  text-justify: inter-word;
}

.etfs h2 {
  font-family: "Poppins";
  font-weight: 1000 !important;
  line-height: 25px;
}

.signup__bg {
  background-color: #e5faf5;
}

.bgwhite {
  background-color: #fff !important;
}

.heading__ok {
  font-family: "Poppins";
  font-weight: 1000 !important;
  font-size: 80px;
  line-height: 25px;
  letter-spacing: -0.1em;
  color: #000000;
}
/* .heading__ok2 {
        font-family: "Poppins";
        font-weight: 1000 !important;
        font-size: 80px;
        line-height: 25px;
        color: #000000;
      } */

.bs {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.bg__white {
  background-color: #fff !important;
}

.sb {
  padding: 10px;
  border-radius: 5px !important;
  outline: none !important;
  border: 0px solid #000 !important;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.active {
  background-color: var(--bg-green) !important;
  color: #fff !important;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.th {
  background-color: rgb(248, 248, 199) !important;
}

.detailed__pricing + hr {
  opacity: 0.7;
  margin: 0px !important;
}

.bw {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.pricing p {
  opacity: 0.8 !important;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 25px;
  padding-top: 10px !important;
  padding-bottom: 15px !important;
  text-align: justify;
  text-justify: inter-word;
}

.privacy p {
  opacity: 0.8 !important;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 25px;
  /* padding-top: 5px !important; */
  /* padding-bottom: 5px !important; */
  text-align: justify;
  text-justify: inter-word;
}

.ppp {
  opacity: 0.8 !important;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 25px;
  padding-top: 10px !important;
  padding-bottom: 15px !important;
  text-align: justify;
  text-justify: inter-word;
}

.pricing h2 {
  font-family: "Poppins";
  font-weight: 1000 !important;
  line-height: 25px;
}

.charges__bg {
  background-color: #f6f3fd;
}

.priceboxes {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
}

.sibs p {
  opacity: 0.8 !important;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 25px;
  padding-top: 10px !important;
  padding-bottom: 15px !important;
  text-align: justify;
  text-justify: inter-word;
}

.partners p {
  opacity: 0.8 !important;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 25px;
  padding-top: 10px !important;
  padding-bottom: 15px !important;
  /* text-align: justify; */
  text-justify: inter-word;
}


#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea, #contact button[type="submit"] { font:400 12px/16px "Open Sans", Helvetica, Arial, sans-serif; }

#contact {
	margin:50px 0;
}

#contact h3 {
	color: #F96;
	display: block;
	font-size: 30px;
	font-weight: 400;
}

#contact h4 {
	margin:5px 0 15px;
	display:block;
	font-size:13px;
}

fieldset {
	border: medium none !important;
	margin: 0 0 10px;
	min-width: 100%;
	padding: 0;
	width: 100%;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea {
	width:100%;
	border:1px solid #CCC;
	background:#FFF;
	margin:0 0 5px;
	padding:10px;
}

#contact input[type="text"]:hover, #contact input[type="email"]:hover, #contact input[type="tel"]:hover, #contact input[type="url"]:hover, #contact textarea:hover {
	-webkit-transition:border-color 0.3s ease-in-out;
	-moz-transition:border-color 0.3s ease-in-out;
	transition:border-color 0.3s ease-in-out;
	border:1px solid #AAA;
}

#contact textarea {
	height:100px;
	max-width:100%;
  resize:none;
}

#contact button[type="submit"] {
	cursor:pointer;
	width:100%;
	border:none;
	background: var(--bg-green) !important;
	color:#FFF;
	margin:0 0 5px;
	padding:10px;
	font-size:15px;
}

#contact button[type="submit"]:hover {
	background:#09C;
	-webkit-transition:background 0.3s ease-in-out;
	-moz-transition:background 0.3s ease-in-out;
	transition:background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active { box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); }

#contact input:focus, #contact textarea:focus {
	outline:0;
	border:1px solid #999;
}


.subss p {
  opacity: 0.8 !important;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 25px;
  padding-top: 10px !important;
  padding-bottom: 15px !important;
  text-align: justify;
  text-justify: inter-word;
}

header a {
  color: #000;
  text-decoration: none !important;
}

.sibs h2 {
  font-family: "Poppins";
  font-weight: 900 !important;
  line-height: 25px;
}

.main__heading {
  font-family: "Poppins";
  font-weight: 800 !important;
  line-height: 25px;
  font-size: 60px !important;
  /* text-shadow: 2px 0 #000; */
  letter-spacing: 1.5px;
  line-height: 1 !important;
}

.extra-bold {
  text-shadow: 0px 2px, 2px 0px, 2px 2px;
}

.start {
  transition: 0.3s !important;
  transform: scale(1) !important;
}

.start:hover {
  transition: 0.3s !important;
  transform: scale(1.1) !important;
}

.desk__head a:hover {
  color: var(--bg-green) !important;
}

.no h6 {
  color: var(--bg-green) !important;
}

.no:hover h6 {
  color: white !important;
}

.no:hover {
  background-color: var(--bg-green) !important;
}

.product__nav__dropdownn {
  display: none !important;
}

.product__navv:hover .product__nav__dropdownn {
  display: block !important;
}

.product__page h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;

  color: rgba(0, 0, 0, 0.7);
}

.product__page p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  /* or 160% */

  align-items: center;
  text-align: justify;

  color: rgba(0, 0, 0, 0.7);
}

a {
  width: fit-content !important;
}

.child {
  /* Center vertically */
  position: absolute;
  top: 50%;
  right: 35%;
  transform: translate(0, -50%);
}

.story {
  background-image: url(./FabitsAssets/Images/Team/image\ 2.png) !important;
  background-size: cover !important;
  background-position: top center !important;
  background-repeat: no-repeat !important;
}
.storypc {
  background-image: url(./FabitsAssets/Images/Team/storypc.jpg) !important;
  background-size: cover !important;
  background-position: top center !important;
  background-repeat: no-repeat !important;
}

.story p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  /* or 160% */
  text-align: justify !important;
  color: #fff;
}

.team p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  text-align: justify !important;
}

.teampics p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  opacity: 0.8 !important;
}

.incase {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  opacity: 0.8 !important;
}

/* .fabitslogo {
        width: clamp(100px, 60%, 300px) !important;
      } */

.justify {
  text-align: justify !important;
}

.proimage {
  max-height: 242px !important;
}

.story__container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.vertically__align {
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
}

.vv {
  position: absolute !important;
  transform: translate(-50%, -50%) !important;
}

.vertically__align2 {
  position: absolute !important;
  top: 50%;
  left: 75% !important;
  transform: translate(-50%, -50%) !important;
}

.vertically__align3 {
  position: absolute !important;
  top: 50%;
  left: 75% !important;
  transform: translate(-50%, -50%) !important;
}

.vertically__align4 {
  position: absolute !important;
  top: 50%;
}
.vertically__align5 {
  position: absolute !important;
  top: 50%;
  left: 90% !important;
  transform: translate(-50%, -50%) !important;
}

.story__paragraph {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  /* or 160% */
  text-align: justify !important;
  color: #fff;
}

.planning p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  /* or 160% */
  text-align: justify !important;
  padding: 0 !important;
  margin-bottom: 5px;
}
.conn p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px !important;
  /* or 160% */
  /* text-align: justify !important; */
  padding: 0 !important;
  margin-bottom: 5px;
  margin-top: 40px;
}

.con p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px !important;
  /* or 160% */
  /* text-align: justify !important; */
  padding: 0 !important;
  margin-bottom: 5px;
  margin-top: 100px;
}

.proimage {
  /* height: 150px !important;
        width: 90px !important; */
  margin: 0 auto !important;
  /* margin-bottom: 10px !important; */
  transition: 0.3s !important;
}
.proimage2 {
  /* height: 150px !important;
        width: 90px !important; */
  margin-top: 45px;
  /* margin-bottom: 10px !important; */
  transition: 0.3s !important;
}

.ramesh {
  background-size: cover !important;
  background-position: top center !important;
  background-repeat: no-repeat !important;
}

.probox {
  background-image: linear-gradient(
    to top,
    #654ea3,
    #9161aa,
    #b478b1,
    #d292bb,
    #eaafc8
  );

  border-radius: 10px;
  padding-top: 20px;
  margin-bottom: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden !important;
  max-width: 200px !important;
  transition: 0.3s !important;
  max-height: 242px !important;
  min-height: 242px !important;
}

.probox:hover {
  border-radius: 50% !important;
  transition-duration: 0.3s !important;
  background-image: linear-gradient(
    to top,
    #ee9ca7,
    #f3acb5,
    #f7bdc4,
    #fbcdd2,
    #ffdde1
  );
}

.hrtag {
  border: 1px solid #fff !important;
  /* width: 50px !important; */
  /* margin: 0 auto !important; */
  margin-bottom: 10px !important;
}

.oppp {
  opacity: 0.4 !important;
}
.oppp2 {
  opacity: 0.6 !important;
  z-index: 1 !important;
}

.overcome {
  position: relative !important;
  z-index: 2 !important;
}
.overcome2 {
  position: relative !important;
  z-index: 888 !important;
}

.olol li {
  list-style: disc !important;
  opacity: 0.8 !important;
}

.footerlinks li {
  padding-bottom: 10px !important;
  font-weight: 500;
}

.video__tag {
  filter: brightness(0.2) !important;
}
.video__tag2 {
  filter: brightness(0.3) !important;
}

.playboy {
  width: fit-content;
  height: fit-content;
  padding: 25px;
  border-radius: 50%;
  background-color: rgb(177, 177, 177, 0.5);
  border: #fff solid 5px;
  cursor: pointer !important;
  transition: 0.3s;
  font-size: 30px;
  color: #fff;
}

.playboy:hover {
  background-color: rgba(255, 255, 255, 0.8);
  transition: 0.3s;
  color: #000;
}

.playboy2 {
  width: fit-content;
  height: fit-content;
  padding: 20px 22px;
  padding-bottom: 13px;
  border-radius: 50%;
  background-color: rgb(177, 177, 177, 0.5);
  border: #fff solid 5px;
  cursor: pointer !important;
  transition: 0.3s;
  font-size: 30px;
  color: #fff;
}

.playboy2:hover {
  background-color: rgba(255, 255, 255, 0.8);
  transition: 0.3s;
  color: #000;
}

.hihi {
  aspect-ratio: 16/9 !important;
  max-width: 100% !important;
  height: fit-content !important;
}
.hihi2 {
  aspect-ratio: 1/1 !important;
  max-width: 80% !important;
  height: fit-content !important;
}
.hihi3 {
  aspect-ratio: 1/1 !important;
  max-width: 80% !important;
  height: fit-content !important;
}

.diss h4 {
  color: var(--yellow) !important;
}

.accordion-item {
  border: none !important;
  background-color: transparent !important;
  border-bottom: 0.1px solid #a8a8a8 !important;
}

.person1__content p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
  /* or 160% */
  text-align: justify !important;
  color: #fff;
  padding: 10px;
}

.section-title h2 {
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  padding-bottom: 6px;
  color: #000;
  letter-spacing: 0.3px;
  padding: 0;
}
.section-title::after {
  content: "";
  height: 3px;
  background: #fbb900;
  width: 80px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}
/****************/
/*	 BX-SLIDER 	*/
/****************/
section.client {
  padding: 4em 0em;
  background-color: #eee;
}
section.client .section-title {
  margin-bottom: 6em;
}
.bx-controls {
  position: relative;
}
.bx-wrapper .bx-pager {
  text-align: center;
  padding-top: 30px;
}
.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
  display: inline-block;
  *zoom: 1;
  *display: inline;
}
.bx-wrapper .bx-pager.bx-default-pager a {
  background: #666;
  text-indent: -9999px;
  display: block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  outline: 0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.slide img {
  width: 50%;
  aspect-ratio: 3/2;
  object-fit: contain;
  mix-blend-mode: multiply;
  max-width: 300px;
  max-height: 300px;
}

.partners .slide {
  padding: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes rotate {
  from {
    rotate: 0deg;
  }

  50% {
    scale: 1 1.5;
  }

  to {
    rotate: 360deg;
  }
}

.blob {
  background-color: white;
  height: 20vmax;
  aspect-ratio: 1;
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  border-radius: 50%;
  background: linear-gradient(to right, aquamarine, mediumpurple);
  animation: rotate 20s infinite;
  opacity: 0.2;
  /* backdrop-filter: blur(32vmax) !important; */
}

/* #blur {
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: 2 !important;
        backdrop-filter: blur(12vmax);
      } */

.imgplanning {
  max-width: 75px;
  max-height: 75px;
  object-fit: contain;
  aspect-ratio: 1;
  border-radius: 10px;
  padding: 3px;
}

.plan p {
  opacity: 0.8 !important;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 25px;
  /* padding-top: 10px !important; */
  padding-bottom: 15px !important;
  /* text-align: justify; */
  /* text-justify: inter-word; */
  text-align: center;
  margin-top: -10px !important;
}

.price__table {
  font-weight: 600 !important;
  font-size: 1.1rem !important;
  margin-top: 10px;
}

.price__table td {
  padding: 5px 0px !important;
}

.limitted__offer__round {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border: #04aa6d 1px solid;
}

.inner__round {
  width: 320px;
  height: 320px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 10px;
}

.till{
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 10px;
  background-color: #4f9e7e;
  color: #fff;
  font-weight: 600;
  font-size: 1.2rem;
  border-radius: 50%;
  height: 110px;
  width: 110px;


}
